@page "/bible"
@inject RetrievalAugmentedGeneration Approach
@inject GlobalCostTracker CostTracker

<PageTitle>Bible</PageTitle>

<h1>AI-Assisted Bible Search</h1>

<EditForm Model="@this" OnSubmit="@SubmitAsync">
	<div class="form-group">
		<label>Prompt</label>
		<InputTextArea @bind-Value="Prompt" class="form-control" />
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary" disabled="@SubmitDisabled">Submit</button>
	</div>

	<div class="form-group">
		<label>Response</label>
		<ResultsDiv @ref="results" />
	</div>
</EditForm>

@code {
	private string Prompt { get; set; } = "";
	private bool SubmitDisabled { get; set; }
	private ResultsDiv? results;

	private async Task SubmitAsync()
	{
		SubmitDisabled = true;
		var (result, cost, referenceMap) = await Approach.RunAsync("bible", Roles.Bible, Prompt);
		results?.Update(referenceMap, result);
		SubmitDisabled = false;
		CostTracker.Add(cost);
	}
}
