@page "/"
@using server.Data;
@inject ResourceDownloader ResourceDownloader

<h1>Setup</h1>

<button class="btn btn-primary" @onclick="Download">Download</button>

@code {
    private void Download()
    {
    }
}
